<header>
    <h1><a href="index.html" class="logo-link">📖KIRBY 도서관📖</a></h1>
    <nav>
        <a href="index.html">홈</a>
        <a href="login.html" id="loginBtn">로그인</a>
        <a href="signup.html" id="signupBtn">회원가입</a>
        <a href="books.html">도서목록</a>
        <a href="board.html">게시판</a>
        <a href="mypage.html" id="mypageBtn" style="display:none;">마이페이지</a>
        <a href="admin.html" id="adminBtn" style="display:none; background-color: #ff6b6b; color: white; padding: 5px 10px; border-radius: 5px;">관리자페이지</a>
    </nav>
</header>
