### Build ###
/build/
/out/
/target/

### Gradle ###
.gradle/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting

### IDEs ###
.idea/
*.iml
*.ipr
*.iws
.vscode/

### OS files ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Environment / Config ###
*.env
# application-prod.yml   # 민감정보 있으면 주석 해제
# application-secure.yml

### Others ###
node_modules/
